﻿@model Predica.Forecaster.Web.Measurements.CurrentMeasurementViewModel

<div>
    <h4>Current conditions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperature )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeelsTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeelsTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humidity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humidity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WindSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WindSpeed)
        </dd>
    </dl>
</div>
<div>
   
    @*<a asp-action="HistoricalMeasurements" asp-controller="Measurements">Get historical report</a>*@
</div>
