﻿@model Predica.Forecaster.Web.Import.ViewModels.ImportMeasurementsViewModel


<form asp-action="ImportMeasurements" method="post">
    <div class="form-group">
        <label asp-for="FromDatetime" class="control-label"></label>
        <input asp-for="FromDatetime" class="form-control"/>
        <span asp-validation-for="FromDatetime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TillDateTime" class="control-label"></label>
        <input asp-for="TillDateTime" class="form-control"/>
        <span asp-validation-for="TillDateTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Import measurements" class="btn btn-primary"/>
    </div>
</form>