﻿@model Predica.Forecaster.Web.Locations.LocationViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="CurrentMeasurements" asp-controller="Measurements" method="post">
        <select asp-for="LocationId" asp-items="@(new SelectList(ViewBag.Locations, "LocationId", "Name"))"></select>
        <input asp-action="Index" asp-route-id="@ViewBag.SelectedValue" type="submit" id="btnSubmit" value="Search"/>
    </form>
</div>


